html {
	box-sizing: border-box;
	font-size: 10px;

	@media(min-width: $fullsize){
		font-size: #{1000px/$design-width}vw;
	}
}
*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
}
body {
	color: $brand-grey;
	font-family: $font-family-base;
	font-size: #{$font-size-base/10px}rem;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	padding-top: $header-height;

	&.nav-open {
		overflow: hidden;
	}

	&.home {
		padding-top: 0;
	}

	@media (max-width: $mobile-nav-breakpoint) {
		padding-top: $header-mobile-height;
	}
}
.wrapper {
	background: url(assets/banner.png) no-repeat center top;
	background-size: 100% auto;
	// min-height: 100vh;
	overflow: hidden;
	padding: 7vw 0 0 0;
	
	@media (max-width: $tablet) {
		background-size: 200% auto;
		padding-top: 12vw;
	}
	@media (max-width: $mobile) {
		padding-top: 18vw;
	}
}

.skip-link,
.screen-reader-text {
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	&:focus {
		overflow: auto;
		width: auto;
		height: auto;
		margin: 0;
		clip: auto;
		z-index: 10000;
		padding: 15px;
		background-color: #fff;
		color: #43515c;
		transition: none;
	}
}