.site-footer {
	background: $brand-blue-drk;
	margin-top: 13rem;
	padding: 4.7rem 0 1rem 0;
	text-align: center;

	.container {
	}

}

.footer-logo{
	display: block;
	margin: 0 auto 3rem auto;
	width: 22rem;
}

.footer-title{
	color: $brand-blue-lt;
	font-family: $font-family-headline;
	font-size: 4.6rem;
	line-height: 1;
	margin: 0;
	
	@media (max-width: $mobile) {
		font-size: 4rem;
	}
}

a.footer-button{
	margin-top: 4rem;
	min-width: 28rem;
	
	@media (max-width: $mobile) {
		min-width: 0;
	}

	&:hover{
		background: #fff;
		color: $brand-gold;
	}
}

.site-footer__menu {
}


.footer-social{
	display: inline-block;
	list-style: none;
	margin: 9rem 0 0 0;
	padding: 0;

	li{
		display: inline-block;
		margin-left: 0.5rem;
	}

	a{
		background: $brand-gold;
		border-radius: 50%;
		color: $brand-blue-drk;
		display: block;
		font-size: 1.6rem;
		width: 2.8rem;
		height: 2.8rem;
		text-align: center;
		line-height: 3rem;
		transition: background 0.3s;

		&:hover{
			background: #fff;
		}
	}
}

.footer-inlinks{
	color: #fff;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	margin-top: 2rem;
	text-transform: uppercase;

	a{
		color: $brand-gold;
		border-bottom: 1px solid rgba(#fff, 0);
		transition: all 0.3s;

		&:hover{
			color: #fff;
			// text-decoration: underline;
			border-bottom: 1px solid #fff;
		}
	}

	.copyright{
		display: inline-block;
		margin: 0 0.5rem 0 0;
	}

	nav{
		display: inline-block;
	}
	
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			display: inline-block;
			
			+ li{
				&:before{
					content: '|';
					display: inline-block;
					margin: 0 0.5rem 0 0.2rem;
				}	
			}
		}
	}

	@media (max-width: $phablet) {
		.copyright,
		nav {
			display: block;
		}

	}
}


.site-footer__attribution{
}
