.site-header {
	background: #fff;
	box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.26);
	height: $header-height;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 101;

	.scrolled &{
		// height: $header-height-scrolled;
	}

	@media (max-width: $mobile-nav-breakpoint) {
		height: $header-mobile-height;

		.scrolled &{
			// height: $header-mobile-height-scrolled;
		}
	}

	.home &{
		background: none;
		box-shadow: none;

		@media (max-width: $desktop) {
			height: $header-height * 0.9;
		}
		@media (max-width: $mobile-nav-breakpoint) {
			// height: $header-height;
			transition: height 0.5s;
		}
		@media (max-width: $mobile) {
			height: $header-mobile-height;
		}
	}

	.home.scrolled &{
		@media (max-width: $mobile-nav-breakpoint) {
			height: $header-mobile-height;
		}
	}

	.inner {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;


		.home &{
			
			@media (max-width: $desktop) {
				justify-content: space-between;
				padding: 0 3rem;
			}
			
			@media (max-width : $mobile-nav-breakpoint) {
				justify-content: center;
				padding: 0;
			}
		}
		
		@media (max-width : $mobile-nav-breakpoint) {
			// justify-content: space-between;
		}
	}
}

.site-header-logo{
	height: 100%;
	margin: 0 10%;
	order: 2;

	.home &{
		margin: 0 5%;
		
		@media (max-width: $desktop) {
			margin: 0;
		}
	}

	@media (max-width: $desktop) {
		margin: 0 5%;
	}
	
	@media (max-width : $mobile-nav-breakpoint) {
		order: 0;
		margin: 0;
	}

	.brand{
		height: 100%;

		img{
			display: block;
			height: 100%;
		}
	}
}

.site-header-menu {
	// text-align: right;
	font-size: 1.5rem;
	letter-spacing: 0.12em;
	text-transform: uppercase;

	// .home &{
	
		@media (max-width: $desktop) {
			font-size: 1.4rem;
		}
	// }

	a{
		color: $brand-black;
	}

	&.left{
		order: 1;
	}
	&.right{
		order: 3;
	}

	@media (max-width : $mobile-nav-breakpoint) {
		display: none;
	}

	.menu {
		white-space: nowrap;

		> li {
			display: inline-block;
			margin: 0;

			+ li{
				margin-left: 2rem;
			}
		}
	}

	
	.menu-item-has-children{
		position: relative;
		
		&:hover{
			.sub-menu{
				max-height: 100rem;
				opacity: 1;
			}
		}
		
		.sub-menu{
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 100%;
			left: 50%;
			text-align: left;
			transform: translateX(-50%);
			transition: all 0.3s;
			white-space: nowrap;
		}
	}
}

