.mfp-content{
	background: #fff url(assets/modal-bg.png) no-repeat 0 0;
	background-size: auto 100%;
	border-radius: 0.8rem;
	margin: 0 auto;
	max-width: 74rem;
	padding: 5rem;

	.mfp-close{
		color: $brand-gold;
	}
}